#include <stdio.h>

int main()
{
    int x1, y1;
    int x2 = 0;
    int y2 = 0;
    x1 = 0;
    y1 = 0;
    printf("Введите координаты ладьи \n");
    scanf("%d%d", &x1, &y1);
    printf("Введите координаты чёрной пешки \n");
    scanf("%d%d", &x2, &y2);
    if  ( ( x1 == x2 ) || ( y1 == y2 ) )
        printf("ладья может сбить пешку");
    else
        printf (" ладья не может срубить пешку");
    
    return 0;
}
